<li class="mb-2">
    {{burger_name}}
    {{#if devoured}}

    {{else}}
    <button class="btn btn-success btn-sm shadow eat" data-id="{{this.id}}" data-neweaten="{{devoured}}">Eat the burger!</button>
    {{/if}}
</li>