<div>
    <div class="row justify-content-center">
        <div class="col-4 text-center container">
            <h1>Eat-da-Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-4 container" align="center">
            <h2>To be devoured:</h2>
            <ul class="mt-4 list-unstyled">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4 container">
            <p align="center">Add burgers that you want to try!</p>
            <form id="create-form">
                <div class="form-group" align="center">
                    <label for="burger" class="burger-label">Add a burger:</label>
                    <input type="text" id="burger">
                    <button class="btn btn-secondary shadow ml-3" type="submit">Add burger</button>
                </div>
            </form>
        </div>
        <div class="col-4 mt-4 container" align="center">
            <h2>Devoured:</h2>
            <ul class="mt-4 list-unstyled">
                {{#each burgers}}
                {{#if devoured}}
                {{> burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <br>
            
</div>